*.aline {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

* {
    background-color: #2d9137;
}

th.table {
    color: #ffffff
}

h1.header1 {
    color: black
}

h2.header2 {
    color: black;
    border: solid 5px #b6ff00
}

p {
    color: #ff9924;
    border: solid 5px #b6ff00
}

li {
    color: #ff9924;
}

figure {
    border: solid 5px #b6ff00
}