* {
    background-color: #1ed61e
}

*.aline {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

th.table{
    color: black
}

h1.header1 {
    color: black
}

h2.header2{
    color: black
}

p {
    color: #d61e1e
}

li {
    color: #d61e1e
}