* {
    background-color: #1ed61e
}

*.aline {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

th.table{
    color: black
}

h1.header1 {
    color: black
}

h2.header2{
    color: black
}

p {
    color: #d61e1e;
    font-size: 120%;
}

li {
    color: #d61e1e
}

b.big {
    font-size: 200%
}

div.bdr {
    border: double 5px #000000;
}

div.break {
    border: solid 2px #3417ed;
}